.btn-primary {
  background-color: #0a2463 !important;
  border-color: #0a2463 !important;
}

.btn-primary:hover {
  background-color: #083378 !important;
  border-color: #083378 !important;
}

.btn-link {
  color: #0a2463 !important;
}

a {
  color: #0a2463 !important;
}
